.container {
    max-width: 800px;
    margin: 0 auto;
}

.container li{
    list-style-type: none;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    
}

.btn:hover {
    background-color: #218838;
}

.main-title {
    font-size: 24px;
    margin-top: 20px;
}

.card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.carrito-vacio {
    font-size: 18px;
    color: #dc3545;
}

.carrito-productos,
.carrito-acciones {
    margin-top: 20px;
}

.carrito-acciones-izquierda {
    float: left;
}

.carrito-acciones-vaciar {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.carrito-acciones-derecha {
    float: right;
}

.carrito-acciones-total {
    font-size: 18px;
    margin-bottom: 10px;
}

.carrito-acciones-comprar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.carrito-comprado {
    font-size: 18px;
    color: #28a745;
    margin-top: 20px;
}