main{
    margin: 1rem;
    margin-left: 0;
    border-radius: 7px;
    padding: 3rem;
}

.main-title{
    margin-bottom: 3rem;
}

#filtro{
    margin: 10px;
}

#misprods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto{
    padding: .5rem;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    margin: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#cardimg{
    display: block;
    max-width: 100%;
    border-radius: 1rem;
    padding: 7px;
}

.card-title{
    font-size: .9rem;
}

.prodAAgregar{
    border: 0;
    font-weight: bold;
    padding: .4rem;
    margin: 20px;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
}

.card-body{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 0.25rem;
}
.card-title{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 0.25rem;
}
.card-text{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 0.25rem;
}

