@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Rubik&display=swap");
:root {
  --clr-main: #535353;
  --clr-main-light: #9db6c3;
  --clr-white: #ffffff;
  --clr-gray: #b2b2b2;
  --clr-red: #ffc0c0;
  --clr-txt: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  background-color: var(--clr-gray);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo img {
  height: 150px;
}

#logo img {
  height: 70px;
  padding: 0;
}

#navcarrito {
  background-color: #CFD2CF;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  display: flex;
}
#navcarrito ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-category,
.button-back,
.button-carrito {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: var(--clr-txt);
  cursor: pointer;
  gap: 1rem;
  font-weight: 400;
  padding: 1rem;
  font-size: 0.95rem;
  width: 100%;
}

.button-category.active,
.button-carrito.active {
  background-color: var(--clr-white);
  color: var(--clr-txt);
  border-radius: 0.5rem;
  margin: 0;
}
.button-category.active::before,
.button-carrito.active::before {
  content: "";
  width: 1rem;
  bottom: 100%;
  background-color: transparent;
  border-bottom-right-radius: 0.7rem;
  box-shadow: 0 1rem 0 var(--clr-white);
}
.button-category.active::after,
.button-carrito.active::after {
  content: "";
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 -1rem 0 var(--clr-white);
}

.button-category > i.bi-hand-index-thumb-fill,
.button-category > i.bi-hand-index-thumb {
  transform: rotateZ(90deg);
}

.button-carrito {
  margin-top: 2rem;
}

#number {
  background-color: var(--clr-white);
  color: var(--clr-main);
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}

.button-carrito.active .number {
  background-color: var(--clr-main);
  color: var(--clr-white);
}

main {
  background-color: var(--clr-white);
  margin: 1rem;
  border-radius: 7px;
  padding: 2rem;
}

.main-title {
  color: var(--clr-main);
  margin-bottom: 3rem;
  text-align: center;
}

#misprods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto {
  background-color: var(--clr-main);
  color: var(--clr-white);
  padding: 0.5rem;
  border-radius: 7px;
  text-align: center;
  margin: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#cardimg {
  display: block;
  max-width: 100%;
  border-radius: 1rem;
  padding: 7px;
}

.card-title {
  font-size: 1rem;
}

.prodAAgregar {
  border: 0;
  background-color: var(--clr-white);
  color: var(--clr-txt);
  font-weight: bold;
  padding: 0.4rem;
  margin: 20px;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--clr-white);
  transition: background-color 0.2s, color 0.2s;
}
.prodAAgregar:hover {
  background-color: var(--clr-main);
  color: var(--clr-white);
}

.card-body,
.card-title,
.card-text {
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 0.25rem;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio {
  color: var(--clr-main);
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-gray);
  color: var(--clr-txt);
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 0.75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--clr-red);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--clr-gray);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--clr-txt);
  text-transform: uppercase;
  cursor: pointer;
}
.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--clr-gray);
  padding: 1rem;
  color: var(--clr-txt);
  text-transform: uppercase;
  font-weight: bold;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: var(--clr-main);
  padding: 1rem;
  color: var(--clr-white);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.disabled {
  display: none;
}

.logo-envio {
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
}
.logo-envio img {
  width: 6rem;
}

.envio-title {
  margin: 1.5rem;
  padding-left: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.info {
  margin-block: 10px;
}

.info-imp {
  font-weight: bold;
}

/* CONTACTOS */

.contactos{
  padding: 50px;
}
.formC {
  display: flex;
  justify-content: center;
}
.border{
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px;
}
.form-group{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
.form-control{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#message{
  height: 150px;
}
#botones{
  display: flex;
  justify-content: space-between;
}
#enviar{
  background-color: #2b4b80; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
  border: none; 
  cursor: pointer; 
  margin-right: 10px;
}

#borrar{
  background-color: #bbb; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
  border: none; 
  cursor: pointer;
}

#infoC{
  display: flex; 
  justify-content: center;
   margin-top: 30px;
}

#infoC div{
  display: flex; 
  flex-direction: column;
  text-align: center;
}

/* COMO COMPRAR */

#cc{
  text-align: center;
}
#cc h2{
  font-weight: bold;
  font-size: 24px; 
  margin-bottom: 20px;
  margin-top: 40px;
}

#cc p{
  font-size: 18px;
  line-height: 1.5; margin-bottom: 30px;
}

#cc ol{
  text-align: left; margin-left: 80px;

}

#cc li{
  font-size: 16px; line-height: 1.5; margin-bottom: 10px;

}

#cc ul{
  font-size: 16px; line-height: 1.5; margin-bottom: 10px;

}



